body {
    min-height: 100vh;
    font-size: 18px;
    font-family: monospace;
}

header{
    display: flex;
    margin: 0;
    position: absolute;
    width: 100vw;
}

.header-div{
    display: flex;
    width: 100%;
}

.header__overlay{
    height: 300px;
    background: linear-gradient(to bottom, rgb(22, 22, 22), transparent);
    width: 100%;
    position: absolute;
}

.button-div{
    text-decoration: none;
    color: white;
    background-color: #ffffff50;
    backdrop-filter: blur(3px);
    border-radius: 10%;
    padding: 10px;
    margin: 16px;
}

main {
    min-height: 100vh;
    background-image: url('../img/register.jpeg'); 
    
    background-size: cover; 
    background-repeat: repeat; 
}

.login-container {
    width: 60vw;
    min-width: 350px;
    height: 85vh;    
}

#register-form{
    background-color: #ffffff50;
    backdrop-filter: blur(3px);
}



#error-message{
    color: red;
}

.error{
    color: red;
}